$back: rgb(84,76,78);

html {
	background-color: $back;
}

body {
	padding-top: 40px;
	background: url('/assets/img/noise.png');
	color: white;

	code {
		color: black;
	}
  
	.container {
		min-height: 750px;
	}
  
	#logo {
		margin-bottom: 60px;

		img {
			width: 580px;
			height: 424px;
		}

		.lead {
			text-align: justify;
		}

		.first {
			margin-top: 40px;
		}

	}
  
	footer {
		background-color: lighten($back, 20%);
		border-top: 1px solid darken($back, 10%);
		height: 300px;

		nav {
			color: white;
			margin: 20px;
			padding-left: 20px;
			color: white;

			a {
				display: block;
				color: white;
			}
		}
	}
}
