.user-guide-index__links-section {
    display: flex;
    div {
        flex: 1;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 98px;
            height: 98px;
        }
    }
}