<!DOCTYPE html>
<html lang=en>
<head>
  <title>{{page.title}}</title>
  <meta charset=utf-8>
  <meta name="keywords" content="java, tests, eclipse, intellij, continuous testing">
  <meta name="description" content="Infinitest. A Continuous Test Runner for Java">

  <!-- favicons & co -->
  <link rel="shortcut icon" href="/favicon.ico"/>
  <link rel="apple-touch-icon" href="/assets/img/apple-touch-icon.png"/>
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/apple-touch-icon-72x72.png"/>
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/apple-touch-icon-114x114.png"/>
  

  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet/less" type="text/css" href="/assets/css/style.less"/>
  <script src="/assets/js/less.min.js" type="text/javascript"></script>

  <link rel="stylesheet" type="text/css" href="/assets/css/newstyle.css"/>

  <!-- for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="/assets/js/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
</head>

{{content}}

</html>